body {
  padding: 0;
}

h3 {
  margin: 0;
}

.wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #345;
}

.left {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.right {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
  background: #101010;
  overflow: hidden;
}
.right .h3 {
  left: -100%;
  color: #fff;
}

.h3 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 5%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.right .h3_1 {
  left: -100%;
  color: #fff;
}
.right .h3_2 {
  left: -100%;
  color: #fff;
}
.right .h3_3 {
  left: -100%;
  color: #fff;
}
.right .h3_4 {
  left: -100%;
  color: #fff;
}
.right .h3_5 {
  left: -100%;
  color: #fff;
}
.right .h3_6 {
  left: -100%;
  color: #fff;
}
.right .h3_7 {
  left: -100%;
  color: #fff;
}
.right .h3_8 {
  left: -100%;
  color: #fff;
}
.right .h3_9 {
  left: -100%;
  color: #fff;
}
.right .h3_10 {
  left: -100%;
  color: #fff;
}
.right .h3_11 {
  left: -100%;
  color: #fff;
}
.right .h3_12 {
  left: -100%;
  color: #fff;
}
.right .h3_13 {
  left: -100%;
  color: #fff;
}
.right .h3_14 {
  left: -100%;
  color: #fff;
}
.right .h3_15 {
  left: -100%;
  color: #fff;
}
.right .h3_16 {
  left: -100%;
  color: #fff;
}

.h3_1 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 10%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_2 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 15%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_3 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 20%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_4 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 25%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_5 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 30%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_6 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 35%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_7 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 40%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_8 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 40%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_9 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 45%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_7 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 50%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_10 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 55%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_11 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 60%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_12 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 65%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_13 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 70%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_14 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 75%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_15 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 80%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

.h3_16 {
  width: 200%;
  text-align: center;
  position: absolute;
  top: 85%;
  color: #101010;
  white-space: nowrap;
  font-size: 5rem;
  -webkit-animation: width-anim 3s 3s infinite alternate both;
          animation: width-anim 3s 3s infinite alternate both;
          z-index: 1;
}

@-webkit-keyframes width-anim {
  0% {
    width: 100%;
  }
  100% {
    width: 300%;
  }
}

@keyframes width-anim {
  0% {
    width: 100%;
  }
  100% {
    width: 300%;
  }
}
